<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>FractalATE</title>
</head>
<body>
    <h1>FractalATE</h1>
    <p>Explore a FATE Fractal World</p>
    <p>index.tt</p>
    
    [% WHILE (item = items.next) %]
      [% item.name %]
    [% END %]
    
</body>
</html>
