<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
   [%- title = "Add" -%]
   [%- IF item -%]
      [%- title = "Edit" -%]
   [% END %]
<html lang="en">
<head>
    <title>[% title %] Item &mdash; FractalATE</title>
</head>
<body>
    <div id="branding">FractalATE</div>
    <p>Explore a FATE Fractal World</p>
    
    <h1>[% title %] Item</h1>
    
    <form action="" method="post">
      <div>
         <input type="hidden" name="id" value="[% item.id | html %]">
         
         <label for="name">Name</label>
         <input name="name" id="name" value="[% item.name | html %]">
      </div>
      <div>
         <fieldset>
            <legend>Aspects</legend>
         <input name="aspect" value="">
      </div>

      
      <div>
         <input type="submit" value="save">
      </div>
    </form>
    
    
</body>
</html>
