<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>Items &mdash; FractalATE</title>
</head>
<body>
    <div id="branding">FractalATE</div>
    <p>Explore a FATE Fractal World</p>
    
    <h1>[% item.name %]</h1>
    
    <p>ID : [% item.item_id %]</p>
    
</body>
</html>
